*
{
	border: 0;	
	margin: 0;
	padding: 0;
}

body
{
	font-family: Helvatica, Arial;
	background: #808080;
}

h1
{
	
	text-align: center;
	font-size: 2rem;
	display: inline-block;
	color: black;	
	width: 80%;
	vertical-align: 80%;
	height: 5px;
	padding: 5%;
}
h2
{
	display: block;
	text-align: center;
	width: 100%;
}
h4
{
	text-align: left;
	margin-top: 2%;
}

div
{
	text-align: left;

}
header
{
	background: #005883;
	margin: 1%;
	margin-bottom: 1%;
}

.logounad{
	
	display: inline-block;	
	text-align: left;	
	width: 450px;
	margin: 2%;	
}
p
{
	text-align: left;
}
.principal{
	display: block;
	margin: 4%;
	margin-top: 5%;
	border-radius: 5px;
	border-color:gray;
}
.text_principal{
	margin: 1% 0%;
	text-align: justify;
	
}
a{
	text-align: center;
}	
.multimedia{	
	width: 90%;
	height: 400px;
	text-align: center;
}
.multi1{
	width: 60%;
	margin: 8% 20% 2% 20%;
	text-align: center;
}
.multi2{
	width: 60%;
	margin: 0% 20% 2% 20%;
	text-align: justify;
}
.contador{
	height: 80px;
	width: 10%;
}
.autor{
	display: block;
	width: 100%;
	margin: 2% 0%;
}
.info{
	vertical-align: middle;
	display: inline-block;
	width: 35%;
	margin-right: 3%;
	padding-left: 15%;
}
.foto{
	vertical-align: middle;
	display: inline-block;
	width: 17%;
	height: 190px;
}
.datos{
	display: block;
	width: 98%;
	margin: 0.5% 0%;
}
.imgfacebook{
	margin-right: 3%;
	margin-top: 1%;
	width: 4%;
}
.generalidades{
	background: red;
	color: blue;
	margin-top: 12%;
	margin-left: 25%;
	margin-top: 10%;
	text-align: left;
	width: 50%;
}
.generalidades1{
	vertical-align: middle;
	display: inline-block;
	width: 35%;
	margin-right: 3%;
	padding-left: 15%;
}
.seguridad{
	
	color: red;
	width: 50%;
	text-align: center;
	margin-left: 10%;
	margin-top: 10%;
}
.seg1{
	background: #045FB4;

}
.seg2{
	background: black;
	color: white;
	text-align: right;

}
.seg3{
	background: yellow;
	text-align: center;
}
.seg4{	
	text-align: center;	
	width: 125px;
	height: 125px;
	margin-left:20%;
}
.amenazas{
	margin: 6% 15% 1%;
}
.amenaza{	
	display: inline-block;
	width: 60%;
	text-align: center;
	margin-top: 4%;
	font-family: verdana;
	color: red;
}
.amenaza5{
	background: orange;
	margin: 2% 2% 1% 20%;
	width: 60%;	
	border-width: 6px;
	border-style: double;
	border-color: black;	 
}
.amenaza6{
	display: inline-block;
	width: 795px;
	height: 590px;
	margin-left: 20%;
}
.amenaza7{
margin-bottom: 8%;
}
.obj1{	
	text-align: center;
}
.obj3{
	text-align: justify;
}
.obj5{
	text-align: left;
}
.obj6{
	vertical-align: 3%;
}
.obj7{
	display: inline-block;
	text-align: justify;
}
.obj8{
	display: inline-block;	
}
.obj9{
	text-align: justify;
}
.obj10{	
	text-align: center;
}
.obj11{
	text-align: left;
	}
.obj12{
		color:red;		
	}
	.img1{
		margin: 0% 10% 2% 10%;

	}
	
